<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CSV Reader</title>
</head>
<body>
    <div class="container" style="text-align: center;">
        <h1>Upload your CSV file here</h1>
        
        <!-- Form to take input our CSV file -->
        <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="file" name="file">
            <button type="submit">Upload</button>
        </form>
    </div>
</body>
</html>